<?xml version="1.0"?>
<recovery>
	<pages>
		<!-- Settings -->
		<page name="settings">
			<template name="body"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@settings_hdr}</text>
			</text>
			
			<button>
				<placement x="%ab_btn1_x%" y="%ab_y%"/>
				<image resource="actionbar_btn" highlightresource="actionbar_btn_hl"/>
				<action function="overlay">dialog_reset</action>
			</button>

			<image>
				<placement x="%ab_btn1_x%" y="%ab_y%"/>
				<image resource="actionbar_reset"/>
			</image>

			<!-- General -->
			<button style="bs_btn">
				<placement x="0" w="%screen_w%" h="%ab_menu_sort_btn_h%" y="%set_row1_y%"/>
				<action function="set">general_back=settings</action>
				<action function="page">ext_general</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row1_y%"/>
				<image resource="bs_btn_set_global"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row1_text_y%"/>
				<text>{@settings_general}</text>
			</text>
			<!---->

			<!-- MIUI OTA -->
			<button style="bs_btn">
				<placement x="0" y="%set_row2_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">fox_ota</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row2_y%"/>
				<image resource="bs_btn_set_ota"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row2_text_y%"/>
				<text>MIUI OTA</text>
			</text>
			<!---->

			<!-- Customization -->
			<button style="bs_btn">
				<placement x="0" y="%set_row3_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="set">needs_repack=0</action>
				<action function="set">update_fonts=0</action>
				<action function="set">update_navbar=0</action>
				<action function="set">update_accent=0</action>
				<action function="set">update_style=0</action>
				<action function="set">update_splash=0</action>
				
				<action function="set">navbar_disable_tmp=%navbar_disable%</action>
				<action function="set">navbar_disable_add_tmp=%navbar_disable_add%</action>
				
				<action function="set">theme_font_tmp=%theme_font%</action>
				<action function="set">theme_sec_font_tmp=%theme_sec_font%</action>
				<action function="set">theme_font_size_tmp=%theme_font_size%</action>
				
				<action function="set">theme_accent_tmp=%theme_accent%</action>
				<action function="set">theme_style_tmp=%theme_style%</action>
				
				<action function="page">ext_custom</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row3_y%"/>
				<image resource="bs_btn_set_custom"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row3_text_y%"/>
				<text>{@settings_ui}</text>
			</text>
			<!---->

			<!-- Screen -->
			<button style="bs_btn">
				<placement x="0" y="%set_row4_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">ext_screen</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row4_y%"/>
				<image resource="bs_btn_set_screen"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row4_text_y%"/>
				<text>{@settings_screen}</text>
			</text>
			<!---->

			<!-- Vibration -->
			<button style="bs_btn">
				<placement x="0" y="%set_row5_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">ext_vibrate</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row5_y%"/>
				<image resource="bs_btn_set_vibro"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row5_text_y%"/>
				<text>{@vibration_hdr}</text>
			</text>
			<!---->

			<!-- Backup -->
			<button style="bs_btn">
				<placement x="0" y="%set_row6_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="set">backup_back=settings</action>
				<action function="page">ext_backup</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row6_y%"/>
				<image resource="bs_btn_restore"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row6_text_y%"/>
				<text>{@backup_hdr}</text>
			</text>
			<!---->

			<!-- Regional -->
			<button style="bs_btn">
				<placement x="0" y="%set_row7_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">ext_time</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row7_y%"/>
				<image resource="bs_btn_set_regional"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row7_text_y%"/>
				<text>{@settings_time}</text>
			</text>
			<!---->

			<!-- Info -->
			<button style="bs_btn">
				<placement x="0" y="%set_row8_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">about</action>
			</button>
			
			<image>
				<placement x="%col1_set_x%" y="%set_row8_y%"/>
				<image resource="bs_btn_set_about"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row8_text_y%"/>
				<text>{@about_hdr}</text>
			</text>
			<!---->

			<!-- Debug -->
			<button style="bs_btn">
				<condition var1="debug_mode" var2="1"/>
				<placement x="0" y="%set_row9_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">debug</action>
			</button>
			
			<image>
				<condition var1="debug_mode" var2="1"/>
				<placement x="%col1_set_x%" y="%set_row9_y%"/>
				<image resource="bs_btn_set_bug"/>
			</image>
			
			<text style="bs_text">
				<condition var1="debug_mode" var2="1"/>
				<placement x="%col1_x_indent%" y="%set_row9_text_y%"/>
				<text>{@dbg}</text>
			</text>
			<!---->

			<action>
				<touch key="home"/>
				<action function="page">advanced</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">advanced</action>
			</action>
		</page>

		<!-- General -->
		<page name="ext_general">
			<template name="body"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<condition var1="general_back" var2="settings"/>
				<text>{@settings_general}</text>
			</text>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<condition var1="general_back" var2="wipe"/>
				<text>{@wipe_hdr}</text>
			</text>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<condition var1="general_back" var2="reboot"/>
				<text>{@reboot_btn}</text>
			</text>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<condition var1="general_back" var2="mount"/>
				<text>{@mount_hdr}</text>
			</text>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<condition var1="general_back" var2="terminal"/>
				<text>{@term_s_hdr}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<condition var1="general_back" op="!=" var2="reboot"/>
				<text>{@options_hdr}</text>
			</text>

			<listbox style="settingslist">
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="%lb_l8%"/>
				<condition var1="general_back" op="!=" var2="mount"/>
				<listitem name="{@use_rmrf_chk}">
					<condition var1="general_back" op="!=" var2="terminal"/>
					<data variable="tw_rm_rf"/>
				</listitem>
				<listitem name="{@use_fixed_font}">
					<condition var1="general_back" op="!=" var2="wipe"/>
					<condition var1="general_back" op="!=" var2="reboot"/>
					<data variable="use_fixed_font"/>
				</listitem>
				<listitem name="{@install_reboot_chk}">
					<condition var1="tw_reboot_system" var2="1"/>
					<condition var1="general_back" var2="settings"/>
					<data variable="tw_install_reboot"/>
				</listitem>
				<listitem name="{@zip_sig_chk}">
					<data variable="tw_signed_zip_verify"/>
					<condition var1="general_back" var2="settings"/>
				</listitem>
				<listitem name="{@restoredialog_readonly}">
					<data variable="tw_never_show_system_ro_page"/>
					<condition var1="general_back" var2="settings"/>
				</listitem>
				<listitem name="{@fm_icons_simple}">
					<data variable="list_font"/>
					<condition var1="general_back" var2="settings"/>
				</listitem>
				<listitem name="Automatically detect file type">
					<data variable="fm_auto_open"/>
					<condition var1="general_back" var2="settings"/>
				</listitem>
				<listitem name="Show hidden files in File Manager">
					<data variable="tw_hidden_files"/>
					<condition var1="general_back" var2="settings"/>
				</listitem>
				<listitem name="{@inject_twrp_chk}">
					<condition var1="tw_has_injecttwrp" var2="1"/>
					<condition var1="general_back" var2="settings"/>
					<data variable="tw_inject_after_zip"/>
				</listitem>
			</listbox>
			
			<!-- Read-only system -->
			<button style="menu_btn_sort">
				<condition var1="general_back" var2="settings"/>
				<condition var1="tw_mount_system_ro" op="=" var2="0"/>
				<placement x="0" y="%row5_2_y%" w="%screen_w%" h="90"/>
				<action function="mountsystemtoggle">1</action>
			</button>

			<button style="menu_btn_sort">
				<condition var1="general_back" var2="settings"/>
				<condition var1="tw_mount_system_ro" op="!=" var2="0"/>
				<placement x="0" y="%row5_2_y%" w="%screen_w%" h="90"/>
				<action function="set">tw_lifetime_writes=2</action>
				<action function="page">system_readonly_check_mount</action>
			</button>
			
			<image>
				<condition var1="general_back" var2="settings"/>
				<condition var1="tw_mount_system_ro" op="=" var2="0"/>
				<placement x="0" y="%row5_2_y%"/>
				<image resource="checkbox_false"/>
			</image>
			
			<image>
				<condition var1="general_back" var2="settings"/>
				<condition var1="tw_mount_system_ro" op="!=" var2="0"/>
				<placement x="0" y="%row5_2_y%"/>
				<image resource="checkbox_true"/>
			</image>
			
			<text>
				<condition var1="general_back" var2="settings"/>
				<placement x="160" y="%check_mount_ro_1%"/>
				<font resource="body1" color="%text%"/>
				<text>{@mount_sys_ro_chk}</text>
			</text>
			
			<button style="menu_btn_sort">
				<condition var1="general_back" var2="mount"/>
				<condition var1="tw_mount_system_ro" op="=" var2="0"/>
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="90"/>
				<action function="mountsystemtoggle">1</action>
			</button>

			<button style="menu_btn_sort">
				<condition var1="general_back" var2="mount"/>
				<condition var1="tw_mount_system_ro" op="!=" var2="0"/>
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="90"/>
				<action function="set">tw_lifetime_writes=2</action>
				<action function="page">system_readonly_check_mount</action>
			</button>
			
			<image>
				<condition var1="general_back" var2="mount"/>
				<condition var1="tw_mount_system_ro" op="=" var2="0"/>
				<placement x="0" y="%row1_2_y%"/>
				<image resource="checkbox_false"/>
			</image>
			
			<image>
				<condition var1="general_back" var2="mount"/>
				<condition var1="tw_mount_system_ro" op="!=" var2="0"/>
				<placement x="0" y="%row1_2_y%"/>
				<image resource="checkbox_true"/>
			</image>
			
			<text>
				<condition var1="general_back" var2="mount"/>
				<placement x="160" y="%check_mount_ro_2%"/>
				<font resource="body1" color="%text%"/>
				<text>{@mount_sys_ro_chk}</text>
			</text>
			<!---->
			
			<text style="caption">
				<placement x="%col1_x%" y="%row8_2_y%"/>
				<condition var1="general_back" var2="settings"/>
				<text>{@enter_password_cptn}</text>
			</text>

			<text style="text_body2">
				<condition var1="use_pass" var2="0"/>
				<condition var1="general_back" var2="settings"/>
				<placement x="%col1_x%" y="%row8_3_y%"/>
				<text>{@disabled}</text>
			</text>
			
			<text style="text_body2">
				<condition var1="use_pass" var2="1"/>
				<condition var1="pass_type" var2="1"/>
				<condition var1="general_back" var2="settings"/>
				<placement x="%col1_x%" y="%row8_3_y%"/>
				<text>{@pass_gk}</text>
			</text>
			
			<text style="text_body2">
				<condition var1="use_pass" var2="1"/>
				<condition var1="pass_type" var2="0"/>
				<condition var1="general_back" var2="settings"/>
				<placement x="%col1_x%" y="%row8_3_y%"/>
				<text>{@pass_classic}</text>
			</text>
			
			<text style="text_body2">
				<condition var1="use_pass" var2="1"/>
				<condition var1="pass_type" var2="2"/>
				<condition var1="general_back" var2="settings"/>
				<placement x="%col1_x%" y="%row8_3_y%"/>
				<text>{@pass_pin}</text>
			</text>

			<button style="menu_btn">
				<condition var1="general_back" var2="settings"/>
				<placement x="%col1_x%" y="%row8_2_y%" w="%content_w%" h="%mb_h_hide%"/>
				<action function="page">pass_select</action>
			</button>

			<text style="caption">
				<placement x="%col1_x%" y="%row6_1a_y%"/>
				<condition var1="general_back" var2="settings"/>
				<text>{@areb_confirm}</text>
			</text>

			<listbox>
				<placement x="0" y="%row6_2a_y%" w="%screen_w%" h="%lb_l3%"/>
				<condition var1="general_back" var2="settings"/>
				<data name="disable_no_os"/>
				<listitem name="{@otp_never}">1</listitem>
				<listitem name="{@opt_always}">2</listitem>
				<listitem name="{@areb_noos}">0</listitem>
			</listbox>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<condition var1="general_back" var2="reboot"/>
				<text>{@areb_confirm}</text>
			</text>

			<listbox>
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="%lb_l3%"/>
				<condition var1="general_back" var2="reboot"/>
				<data name="disable_no_os"/>
				<listitem name="{@otp_never}">1</listitem>
				<listitem name="{@opt_always}">2</listitem>
				<listitem name="{@areb_noos}">0</listitem>
			</listbox>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">%general_back%</action>
			</action>
		</page>
		
		<page name="pass_select">
			<template name="body"/>

			<fill color="%title_solid_bg%">
				<condition var1="darker_ui" var2="1"/>
				<placement x="0" y="0" w="%screen_w%" h="%row4_1_y%"/>
			</fill>

			<template name="status_bg"/>
			
			<template name="actionbar_back"/>

			<template name="statusbarinfo"/>
			
			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@enter_password_cptn}</text>
			</text>

			<image>
				<image resource="fox_lock"/>
				<placement x="30" y="%row1_1_y%"/>
			</image>

			<text style="text_body1_hl">
				<placement x="450" y="%row1_1_y%"/>
				<text>Current blocking method</text>
			</text>

			<text style="text_ab_title">
				<placement x="450" y="%row1_2_y%"/>
				<text>Password</text>
			</text>

			<text style="text_body1_hl">
				<placement x="450" y="%row2_3_y%"/>
				<text>You can sleep better knowing</text>
			</text>

			<text style="text_body1_hl">
				<placement x="450" y="%row3_1_y%"/>
				<text>that you are protected.</text>
			</text>

			<image>
				<image resource="actionbar_shadow"/>
				<condition var1="flat_tbar" op="!=" var2="1"/>
				<placement x="0" y="%row4_1_y%"/>
			</image>

			<text style="caption">
				<placement x="%col1_x%" y="%row4_2_y%"/>
				<text>Select password type</text>
			</text>

			<!-- Classic -->
			<button style="bs_btn">
				<placement x="0" w="%screen_w%" h="%ab_menu_sort_btn_h%" y="%set_row6_y%"/>
				<action function="set">pass_new_1=</action>
				<action function="set">pass_new_2=</action>
				<action function="set">pass_notm=0</action>
				<action function="page">pass_text</action>
			</button>
			
			<image>
				<placement x="%col1_x%" y="%set_row6_y%"/>
				<image resource="pass_classic"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row6_text_y%"/>
				<text>{@pass_classic}</text>
			</text>
			<!---->

			<!-- PIN -->
			<button style="bs_btn">
				<placement x="0" w="%screen_w%" h="%ab_menu_sort_btn_h%" y="%set_row7_y%"/>
				<action function="set">pass_new_1=</action>
				<action function="set">pass_new_2=</action>
				<action function="set">pass_notm=0</action>
				<action function="page">pass_pin</action>
			</button>
			
			<image>
				<placement x="%col1_x%" y="%set_row7_y%"/>
				<image resource="dialpad"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row7_text_y%"/>
				<text>{@pass_pin}</text>
			</text>
			<!---->

			<!-- Gesture -->
			<button style="bs_btn">
				<placement x="0" w="%screen_w%" h="%ab_menu_sort_btn_h%" y="%set_row8_y%"/>
				<action function="set">pass_new_1=</action>
				<action function="set">pass_new_2=</action>
				<action function="set">pass_notm=0</action>
				<action function="set">pass_pattern_grid=3</action>
				<action function="page">pass_pattern</action>
			</button>
			
			<image>
				<placement x="%col1_x%" y="%set_row8_y%"/>
				<image resource="pass_gesture"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row8_text_y%"/>
				<text>{@pass_gk}</text>
			</text>
			<!---->

			<!-- Disable -->
			<button style="bs_btn">
				<condition var1="use_pass" var2="1"/>
				<placement x="0" w="%screen_w%" h="%ab_menu_sort_btn_h%" y="%set_row9_y%"/>
				<action function="set">pass_new_1=</action>
				<action function="set">pass_new_2=</action>
				<action function="set">pass_notm=0</action>
				<action function="set">pass_true=qwerty</action>
				<action function="set">pass_type=0</action>
				<action function="set">pass_pattern_grid=3</action>
				<action function="set">use_pass=0</action>
				<action function="page">pass_select</action>
			</button>
			
			<image>
				<placement x="%col1_x%" y="%set_row9_y%"/>
				<condition var1="use_pass" var2="1"/>
				<image resource="bs_adv_frp"/>
			</image>
			
			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%set_row9_text_y%"/>
				<condition var1="use_pass" var2="1"/>
				<text>{@pass_dis}</text>
			</text>
			<!---->
			
			<action>
				<touch key="home"/>
				<action function="page">advanced</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">ext_general</action>
			</action>
		</page>

		<!-- Screen -->
		<page name="ext_screen">
			<template name="body"/>
			
			<template name="ab"/>
			
			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@settings_screen}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<text>{@settings_screen_cptn}</text>
			</text>

			<text style="text_body2">
				<condition var1="tw_has_brightnesss_file" var2="1"/>
				<placement x="%col1_x%" y="%row1_2_y%"/>
				<text>{@screen_bright_slider}</text>
			</text>

			<slidervalue>
				<condition var1="tw_has_brightnesss_file" var2="1"/>
				<placement x="%slider_x%" y="%row1_2a_y%" w="%slidervalue_w%"/>
				<data variable="tw_brightness_pct" min="10" max="100" showrange="0" showcurr="0" changeondrag="1"/>
				<actions>
					<action function="set">tw_brightness=%tw_brightness_max%</action>
					<action function="compute">tw_brightness*%tw_brightness_pct%</action>
					<action function="compute">tw_brightness/100</action>
					<action function="setbrightness">%tw_brightness%</action>
				</actions>
			</slidervalue>

			<text style="text_body2">
				<condition var1="tw_screen_timeout_secs" op="=" var2="0"/>
				<condition var1="tw_no_screen_timeout" op="!=" var2="1"/>
				<placement x="%col1_x%" y="%row2_3a_y%"/>
				<text>{@settings_screen_timeout_cptn}</text>
			</text>

			<text style="text_body2">
				<condition var1="tw_screen_timeout_secs" op="!=" var2="0"/>
				<condition var1="tw_no_screen_timeout" op="!=" var2="1"/>
				<placement x="%col1_x%" y="%row2_3a_y%"/>
				<text>{@settings_screen_timeout_cptn2=Timeout:} %tw_screen_timeout_secs% {@timeout_unit}</text>
			</text>

			<slidervalue>
				<condition var1="tw_no_screen_timeout" op="!=" var2="1"/>
				<placement x="%slider_x%" y="%row3_1_y%" w="%slidervalue_w%"/>
				<data variable="tw_screen_timeout_secs" min="0" max="300" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">settings</action>
			</action>
		</page>

		<!-- Vibration -->
		<page name="ext_vibrate">
			<template name="body"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@vibration_hdr}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<text>{@vibration_hdr}</text>
			</text>

			<text style="text_body2">
				<placement x="%col1_x%" y="%row1_2_y%"/>
				<condition var1="tw_button_vibrate" op="!=" var2="0"/>
				<text>{@button_vibration} %tw_button_vibrate%</text>
			</text>

			<text style="text_body2">
				<condition var1="tw_button_vibrate" op="=" var2="0"/>
				<placement x="%col1_x%" y="%row1_2_y%"/>
				<text>{@button_vibration_hdr}</text>
			</text>

			<slidervalue>
				<placement x="%slider_x%" y="%row1_2_y%" w="%slidervalue_w%"/>
				<data variable="tw_button_vibrate" min="0" max="300" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>

			<text style="text_body2">
				<condition var1="tw_keyboard_vibrate" op="!=" var2="0"/>
				<placement x="%col1_x%" y="%row2_3_y%"/>
				<text>{@kb_vibration} %tw_keyboard_vibrate%</text>
			</text>

			<text style="text_body2">
				<condition var1="tw_keyboard_vibrate" op="=" var2="0"/>
				<placement x="%col1_x%" y="%row2_3_y%"/>
				<text>{@kb_vibration_hdr}</text>
			</text>

			<slidervalue>
				<placement x="%slider_x%" y="%row2_3_y%" w="%slidervalue_w%"/>
				<data variable="tw_keyboard_vibrate" min="0" max="300" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>

			<text style="text_body2">
				<condition var1="tw_action_vibrate" op="!=" var2="0"/>
				<placement x="%col1_x%" y="%row4_1_y%"/>
				<text>{@act_vibration} %tw_action_vibrate%</text>
			</text>

			<text style="text_body2">
				<condition var1="tw_action_vibrate" op="=" var2="0"/>
				<placement x="%col1_x%" y="%row4_1_y%"/>
				<text>{@act_vibration_hdr}</text>
			</text>

			<slidervalue>
				<placement x="%slider_x%" y="%row4_1_y%" w="%slidervalue_w%"/>
				<data variable="tw_action_vibrate" min="0" max="500" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>

			<!-- OFox vibration -->
			
			<text style="text_body2">
				<condition var1="fox_data_install_vibrate" op="!=" var2="0"/>
				<placement x="%col1_x%" y="%row5_2_y%"/>
				<text>{@fox_install_vibrate} %fox_data_install_vibrate%</text>
			</text>

			<text style="text_body2">
				<condition var1="fox_data_install_vibrate" op="=" var2="0"/>
				<placement x="%col1_x%" y="%row5_2_y%"/>
				<text>{@fox_install_vibrate_hdr}</text>
			</text>

			<slidervalue>
				<placement x="%slider_x%" y="%row5_2_y%" w="%slidervalue_w%"/>
				<data variable="fox_data_install_vibrate" min="0" max="500" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>
			
			<text style="text_body2">
				<condition var1="fox_data_backup_vibrate" op="!=" var2="0"/>
				<placement x="%col1_x%" y="%row6_3_y%"/>
				<text>{@fox_backup_vibrate} %fox_data_backup_vibrate%</text>
			</text>

			<text style="text_body2">
				<condition var1="fox_data_backup_vibrate" op="=" var2="0"/>
				<placement x="%col1_x%" y="%row6_3_y%"/>
				<text>{@fox_backup_vibrate_hdr}</text>
			</text>

			<slidervalue>
				<placement x="%slider_x%" y="%row6_3_y%" w="%slidervalue_w%"/>
				<data variable="fox_data_backup_vibrate" min="0" max="500" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>
			
			<text style="text_body2">
				<condition var1="fox_data_restore_vibrate" op="!=" var2="0"/>
				<placement x="%col1_x%" y="%row8_1_y%"/>
				<text>{@fox_restore_vibrate} %fox_data_restore_vibrate%</text>
			</text>

			<text style="text_body2">
				<condition var1="fox_data_restore_vibrate" op="=" var2="0"/>
				<placement x="%col1_x%" y="%row8_1_y%"/>
				<text>{@fox_restore_vibrate_hdr}</text>
			</text>

			<slidervalue>
				<placement x="%slider_x%" y="%row8_1_y%" w="%slidervalue_w%"/>
				<data variable="fox_data_restore_vibrate" min="0" max="500" showrange="0" showcurr="0" changeondrag="1"/>
			</slidervalue>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">settings</action>
			</action>
		</page>

		<!-- Backup -->
		<page name="ext_backup">
			<template name="body"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@backup_hdr}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<text>{@settings_backup_name}</text>
			</text>

			<listbox>
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="%lb_l3%"/>
				<data name="auto_generate"/>
				<listitem name="{@settings_backup_name_user}">2</listitem>
				<listitem name="{@settings_backup_name_auto}">1</listitem>
				<listitem name="{@settings_backup_name_auto_hide}">0</listitem>
			</listbox>

			<text style="caption">
				<placement x="%col1_x%" y="%row5_3a_y%"/>
				<text>{@cust_oth}</text>
			</text>

			<listbox style="settingslist">
				<placement x="0" y="%row6_1a_y%" w="%screen_w%" h="%lb_l5%"/>		
				<listitem name="{@enable_backup_comp_chk}">
					<data variable="tw_use_compression"/>
				</listitem>
				<listitem name="{@disable_backup_space_chk}">
					<data variable="tw_disable_free_space"/>
				</listitem>
				<listitem name="{@restore_enable_digest_chk}">
					<data variable="tw_skip_digest_check"/>
					<condition var1="backup_back" var2="settings"/>
				</listitem>
				<listitem name="{@skip_digest_backup_chk}">
					<data variable="tw_skip_digest_generate"/>
				</listitem>
				<listitem name="{@sha2_chk}">
					<condition var1="tw_no_sha2" var2="0"/>
					<data variable="tw_use_sha2"/>
				</listitem>
			</listbox>

			<text style="caption">
				<placement x="%col1_x%" y="%row3_1a_y%"/>
				<text>{@settings_backup_qbkp_custom}</text>
			</text>

			<partitionlist>
				<placement x="0" y="%row3_2a_y%" w="%screen_w%" h="%lb_l4%"/>
				<data name="tw_backup_list_quick"/>
				<listtype name="backup"/>
			</partitionlist>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">%backup_back%</action>
			</action>
		</page>

		<!-- Regional -->
		<page name="ext_time">
			<template name="body"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@settings_time}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<text>{@sel_tz_list}</text>
			</text>

			<listbox>
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="%lb_l7%"/>
				<data name="tw_time_zone_guisel"/>
				<listitem name="{@utcm11}">BST11;BDT</listitem>
				<listitem name="{@utcm10}">HST10;HDT</listitem>
				<listitem name="{@utcm9}">AST9;ADT</listitem>
				<listitem name="{@utcm8}">PST8;PDT,M3.2.0,M11.1.0</listitem>
				<listitem name="{@utcm7}">MST7;MDT,M3.2.0,M11.1.0</listitem>
				<listitem name="{@utcm6}">CST6;CDT,M3.2.0,M11.1.0</listitem>
				<listitem name="{@utcm5}">EST5;EDT,M3.2.0,M11.1.0</listitem>
				<listitem name="{@utcm4}">AST4;ADT</listitem>
				<listitem name="{@utcm3}">GRNLNDST3;GRNLNDDT</listitem>
				<listitem name="{@utcm2}">FALKST2;FALKDT</listitem>
				<listitem name="{@utcm1}">AZOREST1;AZOREDT</listitem>
				<listitem name="{@utc0}">GMT0;BST,M3.5.0,M10.5.0</listitem>
				<listitem name="{@utcp1}">CET-1;CEST,M3.5.0,M10.5.0</listitem>
				<listitem name="{@utcp2}">WET-2;WET,M3.5.0,M10.5.0</listitem>
				<listitem name="{@utcp3}">SAUST-3;SAUDT</listitem>
				<listitem name="{@utcp4}">WST-4;WDT</listitem>
				<listitem name="{@utcp5}">PAKST-5;PAKDT</listitem>
				<listitem name="{@utcp6}">TASHST-6;TASHDT</listitem>
				<listitem name="{@utcp7}">THAIST-7;THAIDT</listitem>
				<listitem name="{@utcp8}">TAIST-8;TAIDT</listitem>
				<listitem name="{@utcp9}">JST-9;JSTDT</listitem>
				<listitem name="{@utcp10}">EET-10;EETDT</listitem>
				<listitem name="{@utcp11}">MET-11;METDT</listitem>
				<listitem name="{@utcp12}">NZST-12;NZDT</listitem>
			</listbox>

			<text style="caption">
				<placement x="%col1_x%" y="%row5_1a_y%"/>
				<text>{@options_cptn}</text>
			</text>

			<listbox style="settingslist">
				<placement x="0" y="%row5_2a_y%" w="%screen_w%" h="%lb_l2%"/>
				<listitem name="{@use_dst_chk}">
					<data variable="tw_time_zone_guidst"/>
				</listitem>
				<listitem name="{@use24clock_chk}">
					<data variable="tw_military_time"/>
				</listitem>
			</listbox>

			<text style="caption">
				<placement x="%col1_x%" y="%row6_3a_y%"/>
				<text>{@tz_offset}</text>
			</text>

			<text style="text_body2">
				<placement x="%col1_x%" y="%row7_1a_y%"/>
				<text>{@sel_tz_offset}</text>
			</text>

			<button style="menu_btn">
				<placement x="%col1_x%" y="%row6_3a_y%" w="%content_w%" h="%mb_h_hide%"/>
				<action function="set">zone_temp=%tw_time_zone_guioffset%</action>
				<action function="set">zone_error=0</action>
				<action function="overlay">dialog_offset</action>
			</button>

			<text style="caption">
				<placement x="%col1_x%" y="%row7_3a_y%"/>
				<text>{@language_cptn}</text>
			</text>

			<text style="text_body2">
				<placement x="%col1_x%" y="%row8_1a_y%"/>
				<text>{@lang_file}</text>
			</text>

			<button style="menu_btn">
				<placement x="%col1_x%" y="%row7_3a_y%" w="%content_w%" h="%mb_h_hide%"/>
				<action function="page">ext_time_lang</action>
			</button>

			<action>
				<condition var1="tw_time_zone_guisel" op="modified"/>
				<action function="page">ext_time</action>
				<action function="setguitimezone"/>
			</action>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">settings</action>
			</action>
		</page>

		<page name="ext_time_lang">
			<template name="body"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@language_cptn}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row1_1_y%" />
				<text>{@language_cptn}</text>
			</text>

			<listbox>
				<placement x="0" y="%row1_2_y%" w="%screen_w%" h="%lb_l15%"/>
				<data name="tw_language"/>
			</listbox>

			<action>
				<condition var1="tw_language" op="modified"/>
				<action function="page">ext_time_lang_busy</action>
				<action function="setlanguage"/>
			</action>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">ext_time</action>
			</action>
		</page>

		<page name="ext_time_lang_busy">
			<background color="%background%"/>
			
			<template name="background_image"/>

			<template name="status_bg"/>

			<template name="statusbarinfo"/>

			<image>
				<image resource="language_busy"/>
				<placement x="%center_x%" y="%center_y%" placement="4"/>
			</image>
			
			<text style="bs_text">
				<placement x="%center_x%" y="%busy_text_l%" placement="4"/>
				<condition var1="navbar_disable" op="!=" var2="1"/>
				<text>{@lang_set_wait}</text>
			</text>
			
			<text style="bs_text">
				<placement x="%center_x%" y="%busy_text%" placement="4"/>
				<condition var1="navbar_disable" var2="1"/>
				<text>{@lang_set_wait}</text>
			</text>
		</page>

		<!-- About -->
		<page name="about">
			<template name="body"/>
			
			<template name="actionbar_back"/> <!--template name="ab"/-->
			
			<template name="statusbarinfo"/>

			<button>
				<image resource="logo_big"/>
				<condition var1="secret_features" op="!=" var2="5"/>
				<placement x="%center_x%" y="330" placement="4"/>
				<action function="compute">secret_features+1</action>
				<action function="page">about</action>
			</button>
			
			<image>
				<image resource="logo_big"/>
				<condition var1="secret_features" var2="5"/>
				<placement x="%center_x%" y="330" placement="4"/>
			</image>
			
			<text style="text_ab_title">
				<placement x="%center_x%" y="590" placement="4"/>
				<text>OrangeFox Recovery Project</text>
			</text>

			<text style="text_ab_subtitle">
				<placement x="%center_x%" y="660" placement="4"/>
				<text>v%tw_version% | %fox_actual_build%</text>
			</text>
			
			<!-- Yan's Card -->
			<image>
				<image resource="card"/>
				<placement x="0" y="720"/>
			</image>
			
			<image>
				<image resource="author_yan"/>
				<placement x="72" y="792"/>
			</image>

			<text style="about_name">
				<placement x="300" y="792"/>
				<text>MrYacha</text>
			</text>
			<text style="about_info">
				<placement x="300" y="858"/>
				<text>Frontend developer</text>
			</text>
			<text style="about_info">
				<placement x="300" y="910"/>
				<text>CEO, UI, site developer</text>
			</text>
			<!-- Card -->
			
			<!-- fd's Card -->
			<image>
				<image resource="card"/>
				<placement x="0" y="1008"/>
			</image>
			
			<image>
				<image resource="author_fd"/>
				<placement x="72" y="1080"/>
			</image>

			<text style="about_name">
				<placement x="300" y="1080"/>
				<text>fordownloads</text>
			</text>
			<text style="about_info">
				<placement x="300" y="1146"/>
				<text>Frontend developer</text>
			</text>
			<text style="about_info">
				<placement x="300" y="1198"/>
				<text>Theme developer</text>
			</text>
			<!-- Card -->
			
			<!-- Bim's Card -->
			<image>
				<image resource="card"/>
				<placement x="0" y="1296"/>
			</image>
			
			<image>
				<image resource="author_jabba"/>
				<placement x="72" y="1368"/>
			</image>

			<text style="about_name">
				<placement x="300" y="1368"/>
				<text>DarthJabba9</text>
			</text>
			<text style="about_info">
				<placement x="300" y="1434"/>
				<text>Backend developer</text>
			</text>
			<text style="about_info">
				<placement x="300" y="1486"/>
				<text>Build system, C++ developer</text>
			</text>
			<!-- Card -->
			
			<image>
				<placement x="%col1_x%" y="%db_row1_y%"/>
				<image resource="bs_btn_open"/>
			</image>

			<text style="bs_text">
				<placement x="%col1_x_indent%" y="%db_row1_text_y%"/>
				<text>More...</text>
			</text>
			
			<button style="bs_btn">
				<placement x="0" y="%db_row1_y%" w="%screen_w%" h="%ab_menu_sort_btn_h%"/>
				<action function="page">about</action>
			</button>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">settings</action>
			</action>
		</page>
		
		<!-- Debug -->
		<page name="debug">
			<template name="body_key"/>

			<template name="ab"/>

			<template name="statusbarinfo"/>
			
			<button>
				<placement x="%ab_btn1_x%" y="%ab_y%"/>
				<image resource="actionbar_btn" highlightresource="actionbar_btn_hl"/>
				<action function="reload"/>
			</button>

			<image>
				<placement x="%ab_btn1_x%" y="%ab_y%"/>
				<image resource="actionbar_reset"/>
			</image>
			
			<button>
				<placement x="%ab_btn2_x%" y="%ab_y%"/>
				<image resource="actionbar_btn" highlightresource="actionbar_btn_hl"/>
				<action function="page">debug_plus</action>
			</button>

			<image>
				<placement x="%ab_btn2_x%" y="%ab_y%"/>
				<image resource="actionbar_settings"/>
			</image>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@dbg}</text>
			</text>

			<text style="caption">
				<placement x="%col1_x%" y="%row2_1_y%"/>
				<text>{@dbg_func}</text>
			</text>

			<listbox>
				<placement x="0" y="%row2_2_y%" w="%screen_w%" h="%lb_l3%"/>
				<data name="dbg"/>
				<listitem name="{@dbg_page}">page</listitem>
				<listitem name="{@dbg_set}">set</listitem>
				<listitem name="{@dbg_overlay}">overlay</listitem>
				<listitem name="{@unpack} OrangeFox">wlfw</listitem>
				<listitem name="{@repack} OrangeFox">wlfx</listitem>
			</listbox>
			
			<text style="caption">
				<placement x="%col1_x%" y="%row4_1a_y%"/>
				<text>{@cust_oth}</text>
			</text>

			<listbox style="settingslist">
				<placement x="0" y="%row4_2a_y%" w="%screen_w%" h="%lb_l2%"/>
				<listitem name="{@simact_chk}">
					<data variable="tw_simulate_actions"/>
				</listitem>
				<listitem name="{@simfail_chk}">
					<condition var1="tw_simulate_actions" var2="1"/>
					<data variable="tw_simulate_fail"/>
				</listitem>
			</listbox>

			<text style="caption_hl">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<text>{@dbg_act}</text>
			</text>

			<input>
				<placement x="%col1_x%" y="%row1_2_y%" w="%input_width%" h="%input_height%"/>
				<text>%dbg_b%</text>
				<data name="dbg_b"/>
				<restrict minlen="0" maxlen="512"/>
				<action function="set">tw_back=debug</action>
				<action function="%dbg%">%dbg_b%</action>
			</input>

			<fill color="%accent%">
				<placement x="%col1_x%" y="%row1_3_y%" w="%content_w%" h="%input_line_height%" placement="1"/>
			</fill>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">settings</action>
			</action>
		</page>

		<page name="debug_plus">
			<template name="body_key"/>
			
			<template name="ab"/>
			
			<template name="statusbarinfo"/>

			<text style="text_ab_title">
				<placement x="%col1_x_indent%" y="%ab_bc_y%"/>
				<text>{@dbg}</text>
			</text>

			<text style="caption_hl">
				<placement x="%col1_x%" y="%row1_1_y%"/>
				<text>{@dbg_func}</text>
			</text>

			<input>
				<placement x="%col1_x%" y="%row1_2_y%" w="%input_width%" h="%input_height%"/>
				<text>%dbg%</text>
				<data name="dbg"/>
				<restrict minlen="1" maxlen="32" allow="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890_="/>
				<action function="page">debug</action>
			</input>

			<fill color="%accent%">
				<placement x="%col1_x%" y="%row1_3_y%" w="%content_w%" h="%input_line_height%" placement="1"/>
			</fill>

			<action>
				<touch key="home"/>
				<action function="page">main</action>
			</action>

			<action>
				<touch key="back"/>
				<action function="page">debug</action>
			</action>
		</page>
	</pages>
</recovery>